/*
    IMPORTANT :
    Background Image from unsplash

    feel free to use this code !
*/
 body{
        padding-top: 50px;
        font-family: Montserrat, sans-serif;
        transition: background-image 500ms;
        background-image: url("green-bg.jpg"), url('bg.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        height: 100%;
      }
body *{
    transition:0.2 ease;
    -o-transition: 0.2s ease;
    -moz-transition: 0.2s ease;
    -webkit-transition:0.2s ease;
}
      .form{
        padding: 0 0 1em 0;
        width:90%;
        margin: auto;
        text-align: center;
        background: linear-gradient(to bottom, rgba(0,50,150,0.4), rgba(0,0,30,0.3));
        background-size: cover;
        border-radius: 5px;
      }
      .form .first-login{
        color: #333;}

      .form .icon-login{
        width:100px;
        height: 100px;}
      .form .first-row{
        border-bottom:1px solid rgba(0,200,255,0.4);
        padding:1em 0;
        border-radius: 5px 5px 0 0;
        background: rgba(0,0,0,0.2);
        }
        .form .first-row h2{
          color:#ddd;
        }
      .form .input-group{
        padding:0.5em 2em;}
      .form .input-group input{
        border:1px solid #007CFF;
        height:3em;
        font-size: 18px;}
      .form .input-group .form-control{
        color:#007CFF;}
      .form .input-group .input-group-addon{
        background-color: #ddd;
        border:1px solid #007CFF;
        border-left: none;
        color:#007CFF;
      }
      .remember-me, .forget {
        padding: 1em 2em;
        color:#30b2b6;
        text-transform: uppercase;
      }
      .remember-me{
        text-align: left;
      }
      .forget{
        text-align: right;
      }
      .forget a{
        color: #30b2b6;
        text-decoration: none;
        font-weight: bold;
      }
      .switch {
        margin:0.41em 0.5em;
        float:left;
        position: relative;
        display: inline-block;
        width: 30px;
        height: 17px;
      }
      .switch input {display:none;}
      .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #ccc;
        -o-transition: .4s;
        -moz-transition: .4s;
        -webkit-transition: .4s;
        transition: .4s;
}
      .slider:before {
        position: absolute;
        content: "";
        height: 10px;
        width: 10px;
        left: 4px;
        bottom: 4px;
        background-color: white;
        -o-transition: .4s;
        -moz-transition: .4s;
        -webkit-transition: .4s;
        transition: .4s;
      }

      input:checked + .slider {
        background-color: #2196F3;
      }
      input:focus + .slider {
        box-shadow: 0 0 1px #2196F3;
      }
      input:checked + .slider:before {
        -ms-transform: translateX(13px);
        -o-transform: translateX(13px);
        -moz-transform: translateX(13px);
        -webkit-transform: translateX(13px);
        transform: translateX(13px);
      }
      .slider.round {
        border-radius: 34px;
      }

      .slider.round:before {
        border-radius: 40%;
      }
      .login-btn{
        margin-left: 10%;
        width: 80%;
        background: #00ee83;
      }
      .login-btn:hover{
          border-color: #9fd4ff;
          background: #8effa0;
      }
      .social-login{
        margin-top: 25px
      }
      .social-login .btn-group{
        margin: 1em 1;
      }
      .social-login .btn-fb{
        background: #3B5998;
      }
      .social-login .btn-fb:hover{
        border-color: #2E6DA4;
      }
      .social-login .btn-tw {
        background:#1DA1F2;
      }
      .social-login .btn-tw:hover{
        border-color: #46B8DA;
      }
      .social-login .btn-fb,
      .social-login .btn-tw{
        font-size: 16px;
      }
      .social-login i{
        padding: 0.2em;
      }
      .social-login{
        text-align: center;
        padding:2em 0;
      }
      .social-login .btn-group{
        margin:1em;
      }
      h3{
        color:#ddd;
      }
      .sign-up{
        color:#ddd;
      }
      .sign-up a{
        color:#007CFF;
      }
      @media(max-width:768px){
        .form{
          width:100%;
        }
      }*/
